include requirements.txt
include README.md
include manifest.json
include lace/serialization/ply/rply.h
include lace/serialization/ply/plyutils.h
include lace/serialization/ply/rplyfile.h
include lace/serialization/ply/plyutils.c
include lace/serialization/ply/rply.c
include lace/serialization/obj/objutils.cpp
